

<div class="d-flex flex-column justify-content-center">


    <h1 class="text-center m-2" >Current Appointments</h1>
    <table class="table table-bordered table-hover table-striped">

        <tr class="text-center">
            <th>
                Date
            </th>
            <th>
                Time
            </th>

            <th>
                Name
            </th>
            <th>
                Size
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>

        @foreach (TimeSlot appt in ViewBag.AllAppointments)
        {
    <tr class="text-center">

        <td>
            @appt.AppointmentDateTime.ToString("d")
        </td>

        <td>
            @appt.AppointmentDateTime.ToString("t")
        </td>
        <td>
            @appt.Appointment.GroupName
        </td>
        <td>
            @appt.Appointment.GroupSize
        </td>
        <td>
            @appt.Appointment.Email
        </td>
        <td>
            @appt.Appointment.Phone
        </td>

        <td>
            <a asp-controller="Home" asp-action="EditAppointment" asp-route-timeId="@appt.AppointmentDateTime" class="btn btn-sm btn-warning">Edit</a>
        </td>
        <td>
            <a asp-controller="Home" asp-action="DeleteAppointment" asp-route-AppId="@appt.Appointment.AppointmentId" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
        }

    </table>
</div>